body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.project {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.project img {
    display: block;
    margin: 20px auto; /* Centers image and adds space */
    max-width: 80%; /* Adjusts the maximum width to 80% of the parent */
    height: auto; /* Maintains the aspect ratio */
}

.project h2, .project p {
    text-align: center; /* Center-aligns text */
}

.project a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    background: #2193b0;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: background 0.3s ease;
}

.project a:hover {
    background: #6dd5ed;
}
